.footerBar {
	background-color: $footer-background;
	color: $footer-foreground;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	height: 4vh;
	
	text-align: right;
	padding-right: 1em;
	display: flex;
	justify-content: center;
	flex-direction: column;
	
	font-size: 0.85em;
	
	a {
		text-decoration: none;
	}
}

/*.headerTitle {
	margin: 0;
	padding-top: 0.45em;
	text-align: center;
	color: $header-foreground;
}*/