.headerBar {
	background-color: $header-background;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	height: 6vh;
}

.headerTitle {
	margin: 0;
	padding-top: 0.35em;
	text-align: center;
	color: $header-foreground;
}